<div class="row half-height nopadding">
  <!--Video Section-->
<section class="content-section video-section">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=eZ16AGe3j4A',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <h1>Full Width Video</h1>  
        <h3>Enjoy Adding Full Screen Videos to your Page Sections</h3>
     </div>
      </div>
    </div>
  </div>
</section>
<!--Video Section Ends Here-->

</div>
<!-- bloc-2 -->
<div class="bloc l-bloc " id="bloc-2">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="mg-md">
          Heading content
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
      </div>
    </div>
    <div class="row voffset">
      <div class="col-sm-4">
        <img class="img-responsive" src="img/field.jpg" alt='' />
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="img/cornfield.jpg" alt='' />
      </div>
      <div class="col-sm-4">
        <img class="img-responsive " src="img/forrest.jpg" alt='' />
      </div>
    </div>
  </div>
</div>
<!-- bloc-2 END -->
<!-- Footer - bloc-3 -->
<div class="bloc  d-bloc" id="bloc-3">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-3">
        <h3>
          About
        </h3><a href="index.html" class="a-btn a-block">The team</a><a href="index.html" class="a-btn a-block">Contact us</a>
      </div>
      <div class="col-sm-3">
        <h3>
          Get the App
        </h3><a href="index.html" class="a-btn a-block">iPhone</a><a href="index.html" class="a-btn a-block">Android</a>
      </div>
      <div class="col-sm-3">
        <h3>
          Follow us
        </h3><a href="index.html" class="a-btn a-block">Twitter</a><a href="index.html" class="a-btn a-block">Facebook</a>
      </div>
      <div class="col-sm-3">
        <h3>
          Company
        </h3><a href="index.html" class="a-btn a-block">Terms of use</a><a href="index.html" class="a-btn a-block">Privacy</a>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {

    $(".player").mb_YTPlayer();

});
</script>

