/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body, .full-height {
    height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

#well1 {
    height: calc(15% - 20px);
}
.well2 {
    height: 100%;
    margin-bottom: 0;
    overflow: auto;
}

#well3 {
    height: 100%;
    margin-bottom: 0;
    overflow: auto;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.q-height {
  height: 25%;
}

.half-height {
  height: 50%;
}

/* Dark theme */

.bloc{
  width:100%;
  clear:both;
  background: 50% 50% no-repeat;
  padding:0 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bloc-2{
  background-color:#FFF;
}

#bloc-3{
  background-color:#62859e;
}

.bloc-lg{
  padding:100px 50px;
}

.d-bloc{
  color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
  color:rgba(255,255,255,.9);
}
.d-bloc h1, .d-bloc h2, .d-bloc h3, .d-bloc h4,.d-bloc h5, .d-bloc h6, .d-bloc .ico{
  color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
  border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
  border-color:rgba(255,255,255,.2);
}
.d-bloc a{
  color:rgba(255,255,255,.6);
}
.d-bloc a:hover{
  color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
  background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
  color:rgba(255,255,255,1);
  border-color:rgba(255,255,255,1);
}

/* Light theme */

.l-bloc{
  color:rgba(0,0,0,.5);
}
.l-bloc button:hover{
  color:rgba(0,0,0,.7);
}
.l-bloc h1,.l-bloc h2,.l-bloc h3,.l-bloc h4,.l-bloc h5, .l-bloc h6, .l-bloc .ico{
  color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
  border-color:rgba(0,0,0,.7);
}
.l-bloc .divider-h span{
  border-color:rgba(0,0,0,.1);
}
.l-bloc a{
  color:rgba(0,0,0,.6);
}
.l-bloc a:hover{
  color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
  color:rgba(0,0,0,.6);
}
.l-bloc .btn-wire, .l-bloc .btn-wire:hover{
  color:rgba(0,0,0,.7);
  border-color:rgba(0,0,0,.3);
}

.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 110px 0 32px;
min-height: 496px; 
/* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.video-section h1{
font-size:110px;
font-family: 'Buenard', serif;
font-weight:bold;
text-transform: uppercase;
margin: 40px auto 0px;
text-shadow: 1px 1px 1px #000;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}
